insurance-fraud/graph-based-detection/auto-insurance-fraud-detection/infrastructure/stacks/ml-pipeline.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Step Functions ML training pipeline'

Parameters:
  StepFunctionsRoleArn:
    Type: String
  
  EventBridgeRoleArn:
    Type: String
  
  RequestQuotasFunctionArn:
    Type: String
  
  CheckQuotaStatusFunctionArn:
    Type: String
  
  StartNeptuneExportFunctionArn:
    Type: String
  
  CheckNeptuneExportFunctionArn:
    Type: String
  
  ProcessExportedDataFunctionArn:
    Type: String
  
  CheckProcessingStatusFunctionArn:
    Type: String
  
  ValidateTrainingDataFunctionArn:
    Type: String
    Description: Validates training data to prevent model poisoning
  
  TrainModelFunctionArn:
    Type: String
  
  CheckTrainingStatusFunctionArn:
    Type: String
  
  TestModelPerformanceFunctionArn:
    Type: String
    Description: Tests model performance after training
  
  DeployEndpointFunctionArn:
    Type: String
  
  NeptuneEndpoint:
    Type: String
  
  S3BucketName:
    Type: String

Resources:
  MLTrainingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-MLPipeline'
      RoleArn: !Ref StepFunctionsRoleArn
      DefinitionString: !Sub |
        {
          "Comment": "Complete Neptune ML Training Pipeline with Export",
          "StartAt": "RequestQuotas",
          "States": {
            "RequestQuotas": {
              "Type": "Task",
              "Resource": "${RequestQuotasFunctionArn}",
              "Next": "StartNeptuneExport",
              "ResultPath": "$.quotaRequest"
            },
            "StartNeptuneExport": {
              "Type": "Task",
              "Resource": "${StartNeptuneExportFunctionArn}",
              "Next": "WaitForNeptuneExport",
              "ResultPath": "$.exportJob"
            },
            "WaitForNeptuneExport": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "CheckNeptuneExportStatus"
            },
            "CheckNeptuneExportStatus": {
              "Type": "Task",
              "Resource": "${CheckNeptuneExportFunctionArn}",
              "Next": "IsNeptuneExportComplete",
              "InputPath": "$.exportJob",
              "ResultPath": "$.exportStatus"
            },
            "IsNeptuneExportComplete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.exportStatus.isComplete",
                  "BooleanEquals": true,
                  "Next": "ProcessExportedData"
                }
              ],
              "Default": "WaitForNeptuneExport"
            },
            "ProcessExportedData": {
              "Type": "Task",
              "Resource": "${ProcessExportedDataFunctionArn}",
              "Next": "WaitForDataProcessing",
              "ResultPath": "$.processingJob"
            },
            "WaitForDataProcessing": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "CheckDataProcessingStatus"
            },
            "CheckDataProcessingStatus": {
              "Type": "Task",
              "Resource": "${CheckProcessingStatusFunctionArn}",
              "Next": "IsDataProcessingComplete",
              "InputPath": "$.processingJob",
              "ResultPath": "$.processingStatus"
            },
            "IsDataProcessingComplete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.processingStatus.isComplete",
                  "BooleanEquals": true,
                  "Next": "ValidateTrainingData"
                }
              ],
              "Default": "WaitForDataProcessing"
            },
            "ValidateTrainingData": {
              "Type": "Task",
              "Resource": "${ValidateTrainingDataFunctionArn}",
              "Next": "IsTrainingDataValid",
              "ResultPath": "$.validationResult"
            },
            "IsTrainingDataValid": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.validationResult.valid",
                  "BooleanEquals": true,
                  "Next": "CheckQuotaStatus"
                }
              ],
              "Default": "ValidationFailed"
            },
            "ValidationFailed": {
              "Type": "Fail",
              "Error": "TrainingDataValidationFailed",
              "Cause": "Training data failed validation checks - possible data poisoning detected"
            },
            "CheckQuotaStatus": {
              "Type": "Task",
              "Resource": "${CheckQuotaStatusFunctionArn}",
              "Next": "IsQuotaReady",
              "ResultPath": "$.quotaStatus"
            },
            "IsQuotaReady": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.quotaStatus.ready",
                  "BooleanEquals": true,
                  "Next": "TrainModel"
                }
              ],
              "Default": "WaitForQuotaApproval"
            },
            "WaitForQuotaApproval": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "CheckQuotaStatus"
            },
            "TrainModel": {
              "Type": "Task",
              "Resource": "${TrainModelFunctionArn}",
              "Next": "WaitForTraining",
              "Parameters": {
                "processingJobId.$": "$.processingJob.processingJobId",
                "s3Bucket.$": "$.processingJob.s3Bucket",
                "trainingInstanceType.$": "$.quotaStatus.trainingInstanceType"
              },
              "ResultPath": "$.trainingJob"
            },
            "WaitForTraining": {
              "Type": "Wait",
              "Seconds": 300,
              "Next": "CheckTrainingStatus"
            },
            "CheckTrainingStatus": {
              "Type": "Task",
              "Resource": "${CheckTrainingStatusFunctionArn}",
              "Next": "IsTrainingComplete",
              "InputPath": "$.trainingJob",
              "ResultPath": "$.trainingStatus"
            },
            "IsTrainingComplete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.trainingStatus.status",
                  "StringEquals": "Completed",
                  "Next": "TestModelPerformance"
                },
                {
                  "Variable": "$.trainingStatus.status",
                  "StringEquals": "Failed",
                  "Next": "TrainingFailed"
                },
                {
                  "Variable": "$.trainingStatus.status",
                  "StringEquals": "Stopped",
                  "Next": "TrainingFailed"
                }
              ],
              "Default": "WaitForTraining"
            },
            "TrainingFailed": {
              "Type": "Fail",
              "Error": "TrainingFailed",
              "Cause": "Model training job failed or was stopped"
            },
            "TestModelPerformance": {
              "Type": "Task",
              "Resource": "${TestModelPerformanceFunctionArn}",
              "Next": "IsModelPerformanceAcceptable",
              "Parameters": {
                "trainingJobId.$": "$.trainingStatus.trainingJobId"
              },
              "ResultPath": "$.performanceTest"
            },
            "IsModelPerformanceAcceptable": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.performanceTest.valid",
                  "BooleanEquals": true,
                  "Next": "DeployEndpoint"
                }
              ],
              "Default": "ModelPerformanceFailed"
            },
            "ModelPerformanceFailed": {
              "Type": "Fail",
              "Error": "ModelPerformanceFailed",
              "Cause": "Model performance below acceptable thresholds - possible model poisoning"
            },
            "DeployEndpoint": {
              "Type": "Task",
              "Resource": "${DeployEndpointFunctionArn}",
              "InputPath": "$.trainingStatus",
              "End": true
            }
          }
        }

  BiweeklyRetrainingSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub 'fraud-retraining-${AWS::AccountId}'
      Description: Triggers ML retraining every 15 days
      ScheduleExpression: 'rate(15 days)'
      FlexibleTimeWindow:
        Mode: 'OFF'
      Target:
        Arn: !GetAtt MLTrainingStateMachine.Arn
        RoleArn: !Ref EventBridgeRoleArn
        Input: !Sub |
          {
            "neptuneEndpoint": "${NeptuneEndpoint}",
            "s3Bucket": "${S3BucketName}",
            "targetProperty": "fraudScore"
          }

Outputs:
  StateMachineArn:
    Value: !GetAtt MLTrainingStateMachine.Arn
    Export:
      Name: !Sub '${AWS::StackName}-StateMachineArn'
